{% include "header.html" %}

<body>

	<div class='container'>
		<h1>
			Edit {{editeItem.name}}
		</h1>
		<form action="#" method="POST">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="" maxlength="100" name="name">
				<label for="description">Description:</label>
				<input type="text" class="description_label" name="description">
				<input list="Categories" name="category">
				<datalist id="Categories">
					<option value="Basket Ball">
						<option value="Soccer">
				</datalist>
				<button type="submit" class="button_submit" id="submit" type="submit">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Submit</button>
			</div>
		</form>
	</div>






</body>


<style>
	.description_label {
		width: 50%;
	}

	label {
		padding-top: 1%;
		padding-bottom: 1%;
		padding-right: 0.5%;
		padding-left: 0.5%;
	}

	input {
		border-radius: 10px;
		padding-top: 1%;
		padding-bottom: 1%;
		padding-right: 0.5%;
		padding-left: 0.5%;
		border: solid;
		border-width: 2px;
		border-color: #009CFF;
	}

	body {
		font-family: 'Montserrat', sans-serif;
	}

	h1 {
		font-weight: 200;

		text-align: left;
		color: #009CFF;
		font-family: 'Montserrat', sans-serif;

	}

	.container {
		margin-top: 5%;
		width: 60%;
		margin-right: auto;
		margin-left: auto;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.48);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.48);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.48);
		padding: 3%;
		border-radius: 20px;
	}

	.button_submit {
		width: 100px;
		height: 40px;
		border-radius: 10px;
		background-color: #009CFF;
		color: white;
		font-size: 20px;
		border-width: 0;
	}

	.button_submit:hover {
		background-color: orange;
		transition: ease-in;
		transition-duration: .2s;
		color: white;
	}
</style>